GCC_VERSION = com.apple.compilers.llvm.clang.1_0
#include "SDKROOT.xcconfig"

VALID_ARCHS = x86_64 arm64
ARCHS = x86_64

SYMROOT = $(MacBag)
OBJROOT = $(MacBag)/Intermediates
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)/UnitTests
SHARED_PRECOMPS_DIR = $(MacBag)/Intermediates/SharedPrecompiledHeaders
FRAMEWORK_SEARCH_PATHS = $(inherited) $(MacBag)/$(CONFIGURATION)
LIBRARY_SEARCH_PATHS = $(inherited) $(MacBag)/Libs/$(CONFIGURATION)

#include "../GlobalCurrentVersion.xcconfig"
DIGI_CURRENT_BUILD = 0
DIGI_COMPANY_STRING = Avid Technology, Inc.
DIGI_COPYRIGHT = Copyright 1991-$(CURRENT_YEAR) $(DIGI_COMPANY_STRING)

DYLIB_CURRENT_VERSION = $(DIGI_CURRENT_VERSION)
DYLIB_COMPATIBILITY_VERSION = 1.0

PLATFORM_SPECIFIC_LIB_FLAGS[arch=x86_64] = -mssse3
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(PLATFORM_SPECIFIC_LIB_FLAGS) -fasynchronous-unwind-tables
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_CPP_RTTI = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_SHORT_ENUMS = NO
WARNING_CFLAGS = -Wmost
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_ONE_BYTE_BOOL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c c++ objective-c++
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
DEBUG_INFORMATION_FORMAT = dwarf

WARNING_LDFLAGS =
OTHER_LDFLAGS = $(inherited) -Xlinker -executable_path -Xlinker $(CONFIGURATION_BUILD_DIR)/LinkSupport/ExecutablePath
PREBINDING = NO

GCC_OPTIMIZATION_LEVEL = 0

CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _DEBUG MAC_VERSION
