<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>breakpad_glue</string>
	<key>CFBundleGetInfoString</key>
	<string>22.9.0.1, Copyright 1991-2022 Avid Technology, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.avid.framework.breakpad_glue</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>breakpad_glue</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>22.9.0.1</string>
	<key>CFBundleSignature</key>
	<string>PTul</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>22.9.0d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>LSMultipleInstancesProhibited</key>
	<string>true</string>
	<key>LSPrefersCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>No</string>
</dict>
</plist>
