<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DigiDal</string>
	<key>CFBundleGetInfoString</key>
	<string>22.9.0.1, Copyright 2003-2022 Avid Technology, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.digidesign.iokit.DigiDal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DigiDal</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>22.9.0.1</string>
	<key>CFBundleSignature</key>
	<string>Digi</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>22.9.0f4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BerlinDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOBerlinDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xEF7011AF</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEF7111AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>0</integer>
		</dict>
		<key>BerlinHighStreamCountDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOBerlinHighStreamCountDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xEF7011AF</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEF7711AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>0</integer>
		</dict>
		<key>DigidesignGeneral</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_DigidesignGeneral</string>
			<key>IOMatchCategory</key>
			<string>com_digidesign_DigidesignGeneral</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>GershwinEngine</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinEngineDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEED011AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>40000000</integer>
		</dict>
		<key>GershwinFarm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinFarmDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEED111AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinIIEngine</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIEngineDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEE011AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>40000000</integer>
		</dict>
		<key>GershwinIIFarm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIFarmDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEE111AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinIIIEngine</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIIEngineDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEF011AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>40000000</integer>
		</dict>
		<key>GershwinIIIFarm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIIFarmDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEF111AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>40000000</integer>
		</dict>
		<key>GershwinIIIPLXDevice</key>
		<dict>
			<key>CFBundleIdeintifer</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIIPLXDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x903010B5</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEF011AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinIIPLXDevice</key>
		<dict>
			<key>CFBundleIdeintifer</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinIIPLXDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x903010B5</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEEE111AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDeviceDEC21154</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDeviceDEC21154</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDeviceDEC21154</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00261011</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDeviceDEC21154BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDeviceDEC21154BE</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDeviceDEC21154BE</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xB1548086</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDeviceHiNTHB2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDeviceHiNTHB2</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDeviceHiNTHB2</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00263388</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDeviceHiNTHB4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDeviceHiNTHB4</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDeviceHiNTHB4</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00223388</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDevicePLXPCIExpress</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDevicePLXPCIExpress</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDevicePLXPCIExpress</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x811110b5 0x811210b5</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinPCIBridgeDevicePericom8154</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinBridgeDeviceP8154</string>
			<key>IOMatchCategory</key>
			<string>IOGershwinBridgeDeviceP8154</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x815412D8</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GershwinRev2Engine</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinEngineDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEED211AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>40000000</integer>
		</dict>
		<key>GershwinRev2Farm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGershwinFarmDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEED311AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>GreenDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOGreenDevice</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCIPrimaryMatch</key>
			<string>0xEF8011AF 0xEF8811AF</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>0</integer>
		</dict>
		<key>MandyDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOMandyDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xEF7011AF</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xEF7211AF 0xEF7011AF</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NonPagedPoolSize</key>
			<integer>0</integer>
		</dict>
		<key>MotorolaPresto</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.digidesign.iokit.DigiDal</string>
			<key>IOClass</key>
			<string>com_digidesign_IOMotorolaPrestoDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x34101057</string>
			<key>IOPCISecondaryMatch</key>
			<string>0xFFFF1057</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
